<!-- Language Switcher Component -->
<div class="language-switcher">
  <button class="language-button" id="language-toggle">
    {% if lang == 'en' %}
    <span id="current-language">EN</span>
    {% else %}
    <span id="current-language">IT</span>
    {% endif %}
    <span>▾</span>
  </button>
  <div class="language-dropdown" id="language-dropdown">
    <div class="language-option" data-lang="it">
      <span>IT</span>
      <span>Italiano</span>
    </div>
    <div class="language-option" data-lang="en">
      <span>EN</span>
      <span>English</span>
    </div>
    <div class="language-option" data-lang="fr">
      <span>FR</span>
      <span>Francais</span>
    </div>
    <div class="language-option" data-lang="es">
      <span>ES</span>
      <span>Espanol</span>
    </div>
    <div class="language-option" data-lang="zh">
      <span>ZH</span>
      <span>中文</span>
    </div>
  </div>
</div>
